body { 
  margin: 0;
  padding: 0;
  width: 100%;
}

#root {
  max-width: 1280px;
  margin: 0px;
  width: 100%;
}

nav {
  display: flex;
  justify-content: center;
  background: rgb(10, 169, 169);
  color: white;
  width: 100%;
  padding: 10px
}


h2 {
  color: white;
}

footer {
  background: rgb(10, 169, 169);
  color: black;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  width:100%;
  padding: 10px
}
